body {
    background-color: #3e3b46
}

img {
    width: 6.6875em;
    height: 6.6875em;
}

h1 {
    color: #D8DDE0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    font-size: 3.8em;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    margin-top: 0.2em;
}

h2 {
    color: #D95032;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.75em;
    font-style: normal;
    font-weight: 400;
    padding-left: 0.3em;
    margin: auto;
}

p {
    color: #D8DDE0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.875em;
    font-style: normal;
    font-weight: 400;
    padding-left: 0.6em;
    padding-right: 0.6em;
}

main img {
    width: 12.25em;
    height: 10em;
    flex-shrink: 0;
    float: left;
    margin-left: 0.625em;
}

.naastplaatje {
    color: #D8DDE0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.875em;
    font-style: normal;
    font-weight: 400;
    padding-left: 0.7em;
    display:flex;
}

ul {
    color: #D8DDE0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.875em;
    font-style: normal;
    font-weight: 400;
    padding-left: 0.6em;
    padding-right: 0.6em;
    margin:auto;
}

.kleding {
    width: 12.25em;
    height: 10em;
    flex-shrink: 0;
    float: right;
    margin-left: 0.625em;
}

.plaatjesonder {
    display: flex;
    padding: 1em ;
    text-align: center;
    width: 5em;
    height: auto;
    
}

.kaart {
    width: 28em;
    height: 25em;
    margin-left: -1.5em;
    padding-top: 1em;
}

.locaties {
    color: #D8DDE0;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
    padding-top: 28em;
    font-size: 1em;

}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #D95032;

  }
  
  footer nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0.6em
  }
  
  footer nav ul li {
    text-align: center;
  }
  
  footer nav ul li a img {
    width: 3.4em;
    height: auto;
  }